extends layout

block content
   .container
      h1.text-center.top-buffer Access Management Platform 
      h2.text-center.top-buffer User Registration
      form.form-horizontal(role="form",  method="post")
        .form-group
          .alert.alert-danger(role='alert', id="msgDiv")

        .form-group
          label.col-sm-3.control-label(for="firstname") 
           strong Full Name
          .col-sm-9
            input#firstname.form-control(type="text" name="firstname" placeholder="First Name" autofocus="" value="")
        br

        .form-group
          label.col-sm-3.control-label(for="lastname") 
           strong Last Name
          .col-sm-9
            input#lastname.form-control(type="text" name="lastname" placeholder="Last Name" autofocus="" value="")
        br
        .form-group
          label.col-sm-3.control-label(for="username") 
           strong User Name
          .col-sm-9
            input#username.form-control(type="text" name="username" placeholder="User Name" autofocus="" value="")
        br

        .form-group
          label.col-sm-3.control-label(for="email") 
           strong Email
          .col-sm-9
            input#email.form-control(type="email" name="email" placeholder="Email")
        br
        .form-group
          label.col-sm-3.control-label(for="mobile") 
           strong Mobile
          .col-sm-9
            input#mobile.form-control(type="text" name="mobile" placeholder="Mobile")
        br

        .form-group
          label.col-sm-3.control-label(for="password") 
           strong Password
          .col-sm-9
            input#password.form-control(type="password" name="password" placeholder="Password")
        br

        .form-group
          label.col-sm-3.control-label(for="cpassword") 
           strong Confirm Password
          .col-sm-9
            input#cpassword.form-control(type="password" name="cpassword" placeholder="Confirm password")

        br
        .form-group
          label.col-sm-3.control-label(for="provider") 
           strong Providers
          .col-sm-9
            select#provider.form-control(name="provider")
              option(value='') Please Select
              option A
              option B
              option C
              option D
        br             
        .form-group
          .col-sm-9.col-sm-offset-3
            .checkbox
              label
                input#terms(type="checkbox" value="yes" name="terms")
                | &nbsp;I accept 
                a(href="#") terms
        br
        .form-group
          .col-sm-9.col-sm-offset-3
            button#register.btn.btn-primary.btn-block(type="e") Register