doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    // Fontawesome CDN Link
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="icon", href="/images/favicon.ico")
  body
    block content
    script(src='http://code.jquery.com/jquery-3.3.1.min.js')
    script(src='/javascripts/app.js')
