doctype html
head
 link(rel="icon", href="/images/favicon.ico")
 style.
  body { 
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;
    background-image: url("/images/background.jpeg");  
    font-family: 'Arial';  
  } 
  table, th, td {
  border:1px solid blue;
  }
h1.text-center.top-buffer Access Management Platform 
h2.text-center.top-bufferMaster Agreement
table(style='width:100%')
  tr
    th Sl.No
    th Agreement Name
    th From 
    th Until
    th Daily rate Indication 
    th Deadline
    th Action  
    tr 
    td 1
    td Agreement one
    td January 2023 
    td December 2023
    td 100  
    td December 2023      
    td
     button.acceptbtn Accept
     button.rejectbtn Reject   
    