doctype html
head
 link(rel="icon", href="/images/favicon.ico")
 style.
  body { 
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;
    background-image: url("/images/background.jpeg");  
    font-family: 'Arial';  
  } 
  table, th, td {
  border:1px solid blue;
  }
h1.text-center.top-buffer Access Management Platform   
h1.text-center.top-buffer #{title}
table(style='width:100%')
  tr
    th ID
    th Name 
    th ADD
  each detail in details
    tr
    td #{detail.agreementsId}
    td #{detail.PositionName}
    td
     li
      a(href=`/users/offerEmployee?id=${detail._id}`) offerEmployee