doctype html
head
 link(rel="icon", href="/images/favicon.ico")
 style.
  body { 
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;
    background-image: url("/images/background.jpeg");  
    font-family: 'Arial';  
  } 
  table, th, td {
  border:1px solid blue;
  }
h1.text-center.top-buffer Access Management Platform   
h1.text-center.top-buffer Request for Open Services
table(style='width:100%')
  tr
    th Sl.No
    th ID
    th Type 
    th Cycle 
    th Stored 
    th End 
    th Location 
    th Status 
    tr 
    td 1
    td 100
    td programmer 
    td  Cycle 
    td stored 
    td March 
    td Frankfurt 
    td Accepted 
    tr 
    td 2
    td 101
    td Tester
    td Cycle 
    td stored 
    td March 
    td Berlin 
    td Evaluation 
    tr 
    td 3
    td 102
    td Manager
    td Cycle 
    td stored 
    td March 
    td Koln 
    td Ordered 
  