body { 
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;
    background-image: url("/images/background.jpeg");  
    font-family: 'Arial';  
} 

*[role="form"] {
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #23463f;  
    border-radius: 15px ; 
}

h2 {
    text-align: center;  
    color: #272d82;  
    padding: 20px;
}
label{  
    color: #f4f9f9;  
    font-size: 17px;  
}  
button{  
    width: 300px;  
    height: 20px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
} 
#msgDiv {
   display: none;
}
a{  
    background-color: rgb(255, 253, 253);  
} 
.top-buffer { margin-top:45px; }

