extends layout

block content
   .container
      
      h2.text-center.top-buffer Edit Provider Details
      form.form-horizontal(role="form", method="post")
        .form-group
          .alert.alert-danger(role='alert', id="msgDiv")

        .form-group
          label.col-sm-3.control-label(for="editfullname") 
           strong Full Name
          .col-sm-9
            input#editfullname.form-control(type="text" autofocus="" value="")
        .form-group
          label.col-sm-3.control-label(for="editemail") 
           strong Email
          .col-sm-9
            input#editemail.form-control(type="email")
        .form-group
          label.col-sm-3.control-label(for="editpassword") 
           strong Password
          .col-sm-9
            input#editpassword.form-control(type="password")
        .form-group
          label.col-sm-3.control-label(for="editcpassword") 
           strong Confirm Password
          .col-sm-9
            input#editcpassword.form-control(type="password")
        .form-group
          label.col-sm-9.control-label(for="editdob") 
           strong Date of Birth
          .col-sm-9
            input#editdob.form-control(type="date")
        .form-group
          label.col-sm-3.control-label(for="country") 
           strong Country
          .col-sm-9
            select#country.form-control
              option(value='') Please Select
              option USA
              option United Kingdom	
              option Germany
              option Denmark
              option Ecuador
              option Canada
              option France
              option Others
        .form-group
          label.control-label.col-sm-3 
           strong Gender
          .col-sm-6
            .row
              .col-sm-6
                label.radio-inline
                  input#femaleRadio(name="gender" type="radio" value="Female")
                  | &nbsp;Female
              .col-sm-4
                label.radio-inline
                  input#maleRadio(name="gender" type="radio" value="Male")
                  | &nbsp;Male              
        .form-group
          .col-sm-9.col-sm-offset-3
            button#editprofile.btn.btn-primary.btn-block(type="e") Save