doctype html
style.
  table, th, td {
  border:1px solid black;
  }
h1 List of Employees
table(style='width:100%')
  tr
    th Provider Name
    th Contact Person
    th Employee Name
    th External person
    th Daily rate
    th Note 
    th Documents
    th Date Until
    th Status 
    tr
    td Provider 1
    td Muller 
    td Veena 
    td 100
    td 50
    td available from march 
    td Documents 
    td December 
    td Rejected
    tr
    td Provider 1
    td Anna 
    td Kiran 
    td 100
    td 50
    td available from march 
    td Documents 
    td March
    td Accepted
    tr
    td Provider 1
    td Anna 
    td Jasim
    td 100
    td 50
    td available from march 
    td Documents 
    td January
    td Pending
    tr
    td Provider 1
    td Anna 
    td xxxx
    td 100
    td 50
    td available from march 
    td Documents 
    td January
    td Pending

    
  