doctype html
style.
  table, th, td {
  border:1px solid black;
  }
h1 Master Agreement
table(style='width:100%')
  tr
    th Sl.No
    th Agreement Name
    th From 
    th Until
    th Daily rate Indication 
    th Deadline
    th Action  
    tr 
    td 1
    td Agreement one
    td January 2023 
    td December 2023
    td 100  
    td December 2023      
    td
     button.acceptbtn Accept
     button.rejectbtn Reject   
    