doctype html
style.
  table, th, td {
  border:1px solid black;
  }
h1 Request for Open Services
table(style='width:100%')
  tr
    th Sl.No
    th ID
    th Type 
    th Cycle 
    th Stored 
    th End 
    th Location 
    th Status 
    tr 
    td 1
    td 100
    td programmer 
    td  Cycle 
    td stored 
    td March 
    td Frankfurt 
    td Accepted 
    tr 
    td 2
    td 101
    td Tester
    td Cycle 
    td stored 
    td March 
    td Berlin 
    td Evaluation 
    tr 
    td 3
    td 102
    td Manager
    td Cycle 
    td stored 
    td March 
    td Koln 
    td Ordered 
  